<div *ngIf="messageService.messages.length">
  <h3>
    Messages:
  </h3>
  <button class="btn btn-default" (click)="messageService.clearMessage()">Clear Messages</button>
  <ul>
    <li *ngFor="let message of messageService.messages">{{message}}</li>
  </ul>
</div>
