<nav *ngIf="userService.getCurrentUser()" class="container navbar navbar-inverse">
  <ul class="navbar-nav nav navbar-right">
    <li class="navbar-nav"><button id="logoutButton"
                                   class="btn-link btn navbar-btn glyphicon glyphicon-log-out "
                                   (click)="logout()"> Logout</button></li>
  </ul>
</nav>
