table, th, td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

caption {
  font-size: 200%;
  color: black;
  text-decoration: underline;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

.pointer{
  cursor: pointer;
}

.alginright {
  text-align: right;
}

.algincenter {
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}
