<div class="container">
  <div class="form-group">
    <div class="col-md-6" >
      <input type="text" [(ngModel)]="searchText"
             class="form-control" placeholder="Search By Currency Code" />
    </div>
  </div>
  <table  class="btn-" style="width:100%">
    <caption class ='algincenter'>Yours transactions:</caption>
    <tr>
    <!--  <th>
        Lp.
      </th>-->
      <th class ="pointer " (click)="changeSortType('CurrencyCode')">
         Currency
        <i class="fa" [ngClass]="{'fa-sort': sortType != 'CurrencyCode',
                        'fa-sort-asc': (sortType == 'CurrencyCode' && !sortReverse),
                        'fa-sort-desc': (sortType == 'CurrencyCode' && sortReverse) }"
           aria-hidden="true"> </i>
      </th>
      <th class ="pointer" (click)="changeSortType('Date')">
         Date
        <i class="fa" [ngClass]="{'fa-sort': sortType != 'Date',
                        'fa-sort-asc': (sortType == 'Date' && !sortReverse),
                        'fa-sort-desc': (sortType == 'Date' && sortReverse) }"
           aria-hidden="true"> </i>
      </th>
      <th class ="pointer" (click)="changeSortType('Quantity')">
        Quantity
        <i class="fa" [ngClass]="{'fa-sort': sortType != 'Quantity',
                        'fa-sort-asc': (sortType == 'Quantity' && !sortReverse),
                        'fa-sort-desc': (sortType == 'Quantity' && sortReverse) }"
           aria-hidden="true"> </i>
      </th>
      <th class ="pointer" (click)="changeSortType('ExchangeRate')">
        Exchange Rate
        <i class="fa" [ngClass]="{'fa-sort': sortType != 'ExchangeRate',
                        'fa-sort-asc': (sortType == 'ExchangeRate' && !sortReverse),
                        'fa-sort-desc': (sortType == 'ExchangeRate' && sortReverse) }"
           aria-hidden="true"> </i>
      </th>
      <th class ="pointer" (click)="changeSortType('CashAmount')">
         PLN value
        <i class="fa" [ngClass]="{'fa-sort': sortType != 'CashAmount',
                        'fa-sort-asc': (sortType == 'CashAmount' && !sortReverse),
                        'fa-sort-desc': (sortType == 'CashAmount' && sortReverse) }"
           aria-hidden="true"> </i>
      </th>
      <th class ="pointer" (click)="changeSortType('TransactionType')">
        Type
        <i class="fa" [ngClass]="{'fa-sort': sortType != 'TransactionType',
                        'fa-sort-asc': (sortType == 'TransactionType' && !sortReverse),
                        'fa-sort-desc': (sortType == 'TransactionType' && sortReverse) }"
           aria-hidden="true"> </i>
      </th>
    </tr>
    <tr *ngFor="let transaction of transactions | currencyCode: searchText| orderBy :sortType:sortReverse">  <!--;  let i = index" -->
     <!-- <td class ='algincenter'>{{i+1 }}</td> -->
      <td class ='algincenter'>{{transaction.CurrencyCode}}</td>
      <td class ='algincenter'>{{transaction.Date |  date: 'dd-MM-yyyy HH:mm:ss'}}</td>
      <td class ='alginright'>{{transaction.Quantity}}</td>
      <td class ='alginright'>{{transaction.ExchangeRate | number : '1.2-2' }}</td>
      <td class ='alginright'>{{transaction.CashAmount | number : '1.2-2' }}</td>
      <td class ='algincenter'>{{transaction.TransactionType}}</td>
    </tr>
  </table>
</div>
