<br />
<div class="container" id="loginContainer">
  <form class="form-horizontal container"  (ngSubmit)="login()" #bookForm="ngForm">
    <div class="form-group">
      <label class="control-label col-sm-2" for="login">Login:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="userCredentials.Login" type="text" class="form-control" name="login" id="login" >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="userCredentials.Password" type="password" class="form-control" id="password" name="password">
      </div>
    </div>

    <div class="form-group container">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default" id="submitButton">Login</button>
      </div>
    </div>
  </form>
</div>


